    GLOBAL_SETTINGS
    LAB_MASTER_SEED web_attack_adv_webshell_student_master_seed
    REGISTRY domanhcuong2502
NETWORK SOME_NETWORK6
     MASK 172.70.10.0/24
     GATEWAY 172.70.10.1
CONTAINER client
     USER student
     X11 YES
     PASSWORD password
     SOME_NETWORK6 172.70.10.100
CONTAINER web_server
     USER student
     X11 YES
     TERMINALS 0
     PASSWORD password
     SOME_NETWORK6 172.70.10.200
